# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/

# Database
*.db

# Environment
.env

# Large datasets
dataset/*.pcapng
dataset/*.pcap

# Ignore only large training artifacts
model/processed_data.pkl


# VS Code
.vscode/