# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/

# Database
*.db

# Environment
.env

# Large datasets
dataset/*.pcapng
dataset/*.pcap

# Large ML files
model/*.pkl
model/*.joblib

# VS Code
.vscode/